/* Common style for all buttons */
.button {
  display: block;
  cursor: pointer;
  border: 0 transparent;

  &:not(.disabled):not(.no-active):not(.menu-element):active {
    box-shadow: 0 0 2px 1px var(--main-color);
    z-index: 1;
  }
}

/* For devices that supports hover status */
@media (hover: hover) {
  .button:not(.disabled):not(.no-active):hover {
    box-shadow: 0 0 2px 1px var(--main-color);
    z-index: 1;
  }

  .menu-element:hover {
    box-shadow: none !important;

    & span {
      color: var(--primary-color);
    }
  }
}

.button-icon-only {
  padding: .75rem;
  background-color: var(--alt-bg);
}

.button-icon-only.disabled {
  opacity: .5;
}

.button-icon-only svg {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stacked-icons-container {
  position: relative;
}

.button-icon-only .stacked-icons-inner svg {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%);
}


/* Capitalize only first letter of the button text (works even for phrases) */
.button-text {
  display: inline-block;
  text-transform: lowercase;
}

.button-text:first-letter {
  text-transform: uppercase;
}

.button-text {
  font-weight: bold;
  font-size: large;
  padding: .75rem;
}

a.button-text {
  text-decoration: none;
}

.button-icon-only.small {
  padding: .75rem;

  & svg {
    width: 1rem;
    height: 1rem;
  }
}

.button-text.medium {
  font-size: medium;
}

.button-text.large {
  font-size: x-large;
}


.bottom-separator {
  border-bottom: 1px solid var(--main-color);
}

.bottom-separator-light {
  border-bottom: 1px solid color(from var(--main-color) srgb r g b / .2);
}

.top-separator-light {
  border-top: 1px solid color(from var(--main-color) srgb r g b / .2);
}


.sub-element-list {
  position: relative;
}

.sub-element-list>* {
  transform: scale(.8);
}

.sub-element-list::before {
  content: '';
  height: 100%;
  border-left: 2px solid var(--main-color);
  opacity: .2;
  position: absolute;
  left: -21px;
}

.sub-element-list:first-child::before {
  height: 80%;
  bottom: 0;
}

.sub-element-list:last-child::before {
  height: 80%;
  top: 0;
}