/* Common style for all buttons */
.button {
  display: block;
  cursor: pointer;
  border: 0 transparent;

  &:not(.disabled):not(.no-active):active {
    box-shadow: 0 0 2px 1px var(--main-color);
  }
}

/* For devices that supports hover status */
@media (hover: hover) {
  .button:not(.disabled):not(.no-active):hover {
    box-shadow: 0 0 2px 1px var(--main-color);
  }
}

.button-icon-only {
  padding: .75rem;
  background-color: var(--alt-bg);
}

.button-icon-only.disabled {
  opacity: .5;
}

.button-icon-only svg {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stacked-icons-container {
  position: relative;
}

.button-icon-only .stacked-icons-inner svg {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%);
}


/* Capitalize only first letter of the button text (works even for phrases) */
.button-text {
  display:inline-block;
  text-transform: lowercase;
}

.button-text:first-letter {
  text-transform: uppercase;
}

.button-text {
  font-weight: bold;
  font-size: large;
  padding: .75em;
}

a.button-text {
  text-decoration: none;
}

.button-icon-only.small {
  padding: .75rem;

  & svg{
    width: 1rem;
    height: 1rem;
  }
}

.button-text.medium {
  font-size: medium;
}

.button-text.large {
  font-size: x-large;
}