input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.size-container label,
.ingredient-container label {
  cursor: pointer;
}


/* SIZES */
#size-selector-container {
  display: flex;
  margin: 1rem 2rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.size-container {
  border: 2px solid var(--main-color);
  min-width: 270px;
  flex: 1;
  border-radius: .5rem;
}

.size-container.selected {
  border-color: var(--accent-4);
}

.size-limits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem 1rem;
  padding: 1rem;
}

.size-price {
  font-weight: bold;
  padding: 2px 5px;
  background-color: var(--accent-4);
}

/* END SIZES */

/* INGREDIENTS GROUP */

.ingredient-group {}

.ingredient-group-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  background-color: var(--main-bg);
  padding: 1rem 2rem;
  padding-top: 1.5rem;
  z-index: 1;
}

.ingredient-group-name {
  background-color: var(--accent-3);
  color: var(--main-bg);
  width: 150px;
  text-align: center;
  padding: 5px;
}

.extra-label {
  color: var(--accent-1);
  font-size: .8rem;
}

.extra-price {
  color: var(--accent-1);
  display: flex;
  gap: 5px;
}

.group-count-price {
  display: flex;
  gap: 7px;
}

.group-count {
  display: flex;
  gap: 2px;
}

/* END INGREDIENTS GROUP */

/* INGREDIENTS */

.ingredient-group-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 2rem;
}

.ingredient-container{
  border: 2px solid var(--main-color);
  border-radius: 5px;
  text-transform: capitalize;
  font-size: large;
  flex: 1;
  display: flex;
}

.ingredient-container.selected{
  border-color: var(--accent-4)
}

.ingredient-container label{
  display: inline-block;
  padding: 1.5rem;
  min-width: 250px;
  flex: 1;
}

/* END INGREDIENTS */