* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --main-bg: light-dark(#FFF, #121212);
  --main-color: light-dark(#000, #FFF);
  --alt-bg: light-dark(#ededed, #1d1d1d);
  --accent-1: #df3939;
  --accent-2: #bd8928;
  --accent-3: #0095bc;
  --accent-4: #ec6f95;
  --accent-5: lightgrey;
}

/*
Can force color scheme from any element in the page 
(if it's the only one with the attribute) 
*/
body[data-theme="light"] {
  color-scheme: light;
}

body[data-theme="dark"] {
  color-scheme: dark;
}

body {
  color: var(--main-color);
  background-color: var(--main-bg);

  font-family: sans-serif;
  user-select: none;
}

/* Removes the highlight effect on mobile devices */
* {
  -webkit-tap-highlight-color: transparent;
}


/* PAGE HEADER */

.page-header {
  display: grid;
  grid-template-columns: 5rem auto 5rem;
  grid-template-rows: 1fr;
  position: sticky;
  top: 0;
  z-index: 99;

  & .left {
    grid-column: 1;
  }

  & .center {
    grid-column: 2;
  }

  & .right {
    grid-column: 3;
  }
}

#page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  text-transform: uppercase;
  text-align: center;

  min-height: 5.5rem;
  margin-top: -5.5rem;
  padding: 0 5rem;

  position: sticky;
  top: 0;

  background-color: var(--main-bg);
  box-shadow: 0 0 10px 0 var(--main-color);

  &::after,
  &::before {
    content: '';
    width: 100%;
    height: 8px;
    background-color: var(--accent-4);
    flex: 1;
  }
}

/* PAGE HEADER */
