* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --main-bg: light-dark(#FFF, #121212);
  --main-color: light-dark(#000, #FFF);
  --alt-bg: light-dark(#ededed, #1d1d1d);
  --alt-color: light-dark(#0006, #FFF6);

  --theme-hue-primary: 210;
  --theme-saturation-primary: 70%;
  --theme-lightness-primary: 50%;
  --primary-color: hsl(var(--theme-hue-primary), var(--theme-saturation-primary), var(--theme-lightness-primary));
  --primary-contrast: var(--main-bg);

  --accent-red: #df3939;
  --accent-gold: #bd8928;
  --accent-green: #2B882B;
}

/*
Can force color scheme from any element in the page 
(if it's the only one with the attribute) 
*/
body[data-theme="light"] {
  color-scheme: light;
}

body[data-theme="dark"] {
  color-scheme: dark;
}

body {
  color: var(--main-color);
  background-color: var(--main-bg);

  font-family: sans-serif;
  user-select: none;

  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

/* Removes the highlight effect on mobile devices */
* {
  -webkit-tap-highlight-color: transparent;
}

a:not(.button),
a:not(.button):visited,
.fake-link {
  color: var(--primary-color);
}

a.disabled {
  pointer-events: none;
}

.fake-link {
  text-decoration: underline;
  cursor: pointer;
}

label {
  cursor: inherit;
}

#root {
  height: 100svh;
}

details summary {
  list-style: none;
}

.error-message {
  color: var(--accent-red);
  opacity: .9;
}

.checkbox {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.checkbox.checked {
  background-color: var(--primary-color);
}

.icon {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.icon:has(.circle) {
  font-size: small;
  border-radius: 50%;
  border: 2px solid var(--toast-color);
}

/* PAGE HEADER */

.page-header {
  display: grid;
  grid-template-columns: 5.5rem auto 5.5rem;
  grid-template-rows: 1fr;
  position: sticky;
  top: 0;
  z-index: 99;

  & .left {
    grid-column: 1;
  }

  & .center {
    grid-column: 2;
  }

  & .right {
    grid-column: 3;
  }
}

#page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  text-transform: uppercase;
  text-align: center;

  min-height: 5.5rem;
  margin-top: -5.5rem;
  padding: 0 5rem;

  position: sticky;
  top: 0;

  background-color: var(--main-bg);

  &::after,
  &::before {
    content: '';
    width: 100%;
    height: 8px;
    background-color: var(--primary-color);
    flex: 1;
  }
}

/* PAGE HEADER */


/* PAGE FOOTER */

.page-footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  position: sticky;
  bottom: 0;
  z-index: 99;

  justify-content: space-between;
}

/* END PAGE FOOTER */


/* ADMIN PANEL - USERS */

.users-list-element {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid var(--main-color);
  border-radius: 10px;

  padding: 1rem;
}

.user-status {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/* END ADMIN PANEL - USERS */


/* CUSTOM MODAL */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;

  backdrop-filter: blur(1px);
  z-index: 99999;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal-title{
  padding-bottom: 1rem;
}

.modal-container {
  padding: 1rem;
  margin: 5rem 1rem;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  background-color: var(--main-bg);

  min-width: 300px;
}

.modal-content {
  padding-bottom: .5rem;
  line-height: 1.5;
}

.modal-controls {
  padding-top: .5rem;
  border-top: 1px solid var(--alt-color);
}

/* END CUSTOM MODAL */


/* SAVE SELECTION MODAL */

input {
  padding: .7rem;
  border: 0;
  border-radius: 5px;
}

#payment-toogle-container {
  padding: 1rem;
}

#payment-method-selection {
  border-radius: 10px;
  border: 1px solid var(--main-color);
}

input:checked~.custom-toogle {
  &::after {
    transform: translate(calc(var(--width)/2));
  }
}

.custom-toogle {
  --width: 50px;
  --height: calc(var(--width)/2);
  --border-w: 3px;

  position: relative;
  min-width: var(--width);
  height: var(--height);
  border-radius: var(--height);
  border: var(--border-w) solid var(--main-color);

  &::after {
    content: '';
    display: block;
    width: calc(var(--height) - var(--border-w)*2);
    height: calc(var(--height) - var(--border-w)*2);
    background-color: var(--primary-color);
    border-radius: 50%;
    transition: transform .2s ease;
  }
}

.toggle {
  transition: opacity 200ms linear;
}

input:not(:checked)~.toggle-left {
  opacity: 1;
}

input:checked~.toggle-right {
  opacity: 1;
}

/* END SAVE SELECTION MODAL */



/* CART */

#invite-link {
  padding-bottom: 1rem;
}

.cart-item-container {
  border: 2px solid var(--main-color);
  border-radius: 10px;
  cursor: pointer;
}

.cart-item-container.item-disabled {
  border-color: var(--alt-color);
}

.cart-item-pay {
  margin-right: 5px;
}

.cart-item-summary {
  padding: 1rem;
}

.cart-item-container details:open .cart-item-summary {
  padding-bottom: 0;
}

.cart-item-description {
  white-space: pre-line;
  line-height: 1.5rem;
}

.cart-item-extra-info {
  padding: 1rem;
  padding-top: 0;
}

.shared-cart {
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 1rem;
}

[data-cart-count] {
  position: relative;
}

[data-cart-count]::after {
  content: attr(data-cart-count);
  font-weight: bolder;
  position: absolute;
  top: 0;
  right: 5px;
  transform: translate(100%);
  color: var(--main-color);
}

.cart-info {
  position: relative;
  margin: 2px 1rem 10px 1rem;
}

.cart-info .cart-info-summary svg {
  transition: all 200ms ease-in-out;
}

.new-cart-poke,
.new-cart-dish {
  text-decoration: none;
  color: var(--main-color) !important;
  border: 2px solid var(--main-color);
  border-radius: 10px;
}

.new-cart-poke:hover,
.new-cart-dish:hover {
  color: var(--primary-color) !important;
}

/* END CART */


/* TOASTS  */

.toast-container {
  position: fixed;
  min-width: 300px;
  text-align: left;

  z-index: 9999;

  top: 5rem;
  left: 50%;

  transform: translate(50%, 0);
  opacity: 0;

  background-color: var(--main-bg);
  box-shadow: 0 0 5px 0 var(--alt-bg);

  overflow: hidden;
  padding: 1rem;
}

.no-animation {
  transform: translate(-50%, 0);
  opacity: 1;
}

.animate-in {
  animation: animate-in forwards 500ms ease-in-out;
}

.animate-out {
  animation: animate-out forwards 500ms ease-in-out;
}

@keyframes animate-in {
  from {
    transform: translate(50%, 0);
    opacity: 0;
  }

  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes animate-out {
  from {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  to {
    transform: translate(50%, 0);
    opacity: 0;
  }
}

.toast-container::before {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: .3;

  transform-origin: left;
  background-color: var(--toast-color, var(--primary-color));
  animation: toast-progress linear forwards;
  animation-duration: var(--toast-duration, 2s);
}

@keyframes toast-progress {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0);
  }
}

.toast-message {
  width: fit-content;
  flex: 1;
}

/* END TOASTS  */


/* ORDER PREVIEW */

#order-preview-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80vw;
  max-width: 800px;
}

#order-preview-container .group{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#order-preview-container .group-label {
  min-width: 6ch;
  text-align: left;
}

#order-message {
  width: 100%;
  min-width: 100%;
  resize: vertical;
  max-height: 35svh;
  padding: 10px;
  margin-top: 1rem;
  field-sizing: content;
}

#order-time-error {
  margin-top: .5rem;
}

/* END ORDER PREVIEW */

/* TABBED HEADER */

.tabbed-header {
  border-bottom: 1px solid var(--main-color)
}

/* END TABBED HEADER */
